{% extends 'base.html' %}

{% block titulo %}
    <title>Acerca De</title>    
{% endblock titulo %}
        
{% block contenido %}
<div class="container_acercade">
    <div class="box_acercade">
        <div class="grupo1_acercade">
            <h1 data-text="¿Quienes somos?">¿Quienes somos?</h1>
            <p>Somos un grupo de estudiantes del informatorio de programación orientado a   Python, Django y Bases de Datos. Más especificamente, conformamos el grupo 5 de entre una serie de equipos que buscan crear un proyecto de pagina web funcional utilizando el framework Django, MySQL, HTML y CSS, entre otras tecnologías.</p>			
            <p>Integrantes del Grupo:</p>
            <p>Perez Lautaro Ivan</p>
            <p>Ibarra Sonia</p>
            <p>Tossi Santino</p>
            <p>Catan Alejandro</p>
        </div>	
        <div class="grupo2_acercade">
            <img src="/static/img/imagen_home.png">	
        </div>
                
    </div>
                    
</div>
{% endblock contenido %}